{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>
{% block title %} {% endblock title %}

  </title>
  <meta content="ecommerce website we deliver products in 1 hours" name="description">
  <meta content="ecommerce" name="amazon,flipkart,selling,products">



  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Template Main CSS File -->
  <link href="{% static '/assets/css/style.css' %}" rel="stylesheet">

</head>




<body  style="background-color:#ffc57d;">
  <!-- ======= Header ======= -->
 
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      

<a href="/" class="logo"><img src="{% static 'images/logo4.jpg' %}" alt="" class="img-fluid"> MShopy Store</a>


      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
        
          <li><a class="nav-link scrollto" href="/about">About</a></li>
          <li><a class="nav-link scrollto" href="/checkout">Checkout</a></li>
          <li><a class="nav-link scrollto" href="/profile">My Profile<i class="fa-regular fa-square-user"></i> </a></li>

          <button type="button" class="nav-link scrollto bg-danger p-3 m-2 text-white" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" ><i class="fa-solid fa-cart-shopping"></i>  Cart (<span id="cart">0</span>)
          </button>






          {% if request.user.is_authenticated %}
          <li><a  class="nav-link scrollto" href="/authcart/logout/">Logout <i class="fa-solid fa-right-from-bracket"></i>

          
          </a></li>
          {% else %}
          <li class="dropdown"><a href="#"><span>SignIn <i class="fa-solid fa-user"></i></span> <i class="bi bi-chevron-down"></i></a>

            <ul>
              <li><a href="/authcart/signup/">Sign Up <i class="fa-solid fa-user"></i></a></li>
              <li><a href="/authcart/login/">Login</a></li>
            

            </ul>
          </li>
          {% endif %}

        


         



          <li><a class="nav-link scrollto bg-dark p-3 m-2" href="/contact">Contact <i class="fa-solid fa-message-middle"></i></a></li>
          
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  
  

      
    
    <h3 style="text-align: center;">Welcome To <span id="W_Name1">MShopy Store</span></h3>
    <h2 >About Company:</h2>
    <p>MShopy Store is an E-commerce website dedicated to providing customers with a convenient platform to purchase a variety of products such as smartphones, watches, earbuds, and more. Our goal is to offer high-quality products at competitive prices while delivering exceptional customer service.</p>
    <br/>
    <h2 >Mission and Vision:</h2>
    <p>Our mission at MShopy Store is to simplify the online shopping experience for our customers by offering a wide selection of products and ensuring a seamless purchasing process. We aim to become a trusted and preferred online retailer known for our reliability, affordability, and customer satisfaction.</p>
    <br/>
    <h2 >Core Values:</h2>
    <ul>
      <li>Customer Satisfaction: We prioritize the needs and preferences of our customers, striving to exceed their expectations with every purchase.</li>
      <li>Quality Products: We are committed to offering only the best products from reputable brands to ensure customer satisfaction and loyalty.</li>
      <li>Transparency: We believe in honesty and transparency in all our business practices, from pricing to product information.</li>
      <li>Innovation: We continuously seek new ways to improve our services and enhance the shopping experience for our customers.</li>
    </ul>
    <br/>
    

<p style="font-weight: bold; text-align: center;">Thanks For Visiting Our Site<br><br>
<span style="color: blue; font-size: 16px; font-weight: bold; text-align: center;">Have a nice day!</span></p>
  
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>MShopy Store</h3>
            <p>
              Plot No-128,Hyderabad<br>
              Telangana, 500039<br>
              India <br><br>
              <strong>Phone:</strong> +91 1234567890<br>
              <strong>Email:</strong> MShopyStore12@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contact</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Consumer Policy</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cancalletion & Returns</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of Use</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Security</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">FAQ</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Payment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Shipping</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cancalletion</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Blog</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">FAQ</a></li>
            </ul>
          </div>

          
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">
      
      <div class="me-md-auto text-center text-md-start">
        
        
        
        <div class="copyright">
          
          &copy; Copyright <strong><span>MShopy Store</span></strong>. All Rights Reserved
        </div>
        
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/assets/js/main.js' %}"></script>

</body>

</html>