{% extends 'base.html' %}
{% load static %}
{% block title %}
Paymentpage
{% endblock title %}
<!-- Site made with Mobirise Online Website Builder v5.9.13, https://a.mobirise.com -->


{% block content %}

<br/>
<br/>
<br/>

<h1>Scroll down for payment</h1>
<div class="item-img mb-3">
    <img src="/static/images/scroll.png" height="200" width="200" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
</div>

{% endblock content %} 
{% block body %} 

<section data-bs-version="5.1" class="features03 cid-udAJGz39Rh" id="features-7-udAJGz39Rh">
    
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="item features-image col-12 col-md-6 col-lg-4 active">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="/static/images/cash.png" height="250" width="250" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style mt-0 mb-2 display-5"><strong>Cash</strong></h5>
                        <p class="mbr-text mbr-fonts-style mb-3 display-7">See your total at a glance for quick checkout.</p>
                        <a href="home.html">
                        <div class="mbr-section-btn item-footer">
                            <a href="/authcart/updatestatus/" class="btn item-btn btn-primary display-7">Pay Now</a>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="/static/images/upi4.png" height="250" width="250" alt="Mobirise Website Builder" title="" data-slide-to="1" data-bs-slide-to="1">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
                            <strong>UPI</strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style mb-3 display-7">Seamless UPI payments for instant transactions.</p>
                        <div class="mbr-section-btn item-footer">
                            <a href="/authcart/updatestatus/" class="btn item-btn btn-primary display-7">Pay Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="/static/images/debit.png" height="250" width="250" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
                            <strong>Debit/Credit</strong>
                        </h5>
                        <p class="mbr-text mbr-fonts-style mb-3 display-7">Securely pay via Net Banking for peace of mind.</p>
                        <div class="mbr-section-btn item-footer">
                            <a href="/authcart/updatestatus/" class="btn item-btn btn-primary display-7">Pay Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>            

{% endblock body %}


      